:root {
  --red: #d32f2f;
  --orange: #ff5722;
  --yellow: #ffeb3b;
  --green: #388e3c;
  --darkGreen: #2a9d8f;
  --bege: #d7ccc8;
  --black: #222222;
  --gray: #777777;
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
}

.itemContainer img {
  width: 200px;
  height: 100%;
  border-radius: 1em;
  object-fit: cover;
}

.itemsListContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.portionContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.portionBtns {
  display: flex;
  gap: 0.2em;
}

.containerBtn {
  display: flex;
  justify-content: center;
}

.confirmBtn {
  position: fixed;
  font-size: x-large;
  bottom: 2em;
}
